h1{
    text-align: center;
    color: rgb(2, 81, 2);
    font-family: 'Fjalla One', sans-serif;
    font-size: 50px;
}

caption{
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

table{
    margin: 10px auto;
}

th{
    color: white;
    background-color: rgb(43, 116, 43);
}



table, th, td {
    text-align: center;
    width: 1000px;
    height: 40px;
    border: 3px solid rgb(5, 75, 5);
    border-collapse: collapse;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

td{
    font-size: 20px;
    padding: 2px;
    text-decoration: none;
   
}

.btn:hover{
    background-color: rgb(18, 122, 18);
    color: rgb(3, 46, 21);
}

.btn1:hover{ 
    background-color: rgb(43, 116, 43);
    color: white;
}